body{
  background-color: #58b1e7;
}
h1{
  text-align: center;
}

/***** Horloge ******/

#clock{
  color: #fff;
  font-size: 60px;
  background-color: #000;
  padding: 0.5em 0em;
  width: 50%;
  margin: 0px auto;
  font-family: Helvetica;
  text-align: center;
}
#banner{
  color: #fefefe;
  font-size: 50px;
  text-align: center;
  background-color: #eb6c52;
  padding: 0.5em 0em;
    margin: 0px auto;
  width: 50%;
  font-family: Helvetica;
  text-align: left;
  text-transform: uppercase;
}
span{
  text-align: center;
}

/****** Fin ******/

/***Calculatrice**/
table {
	background-color: #ffffff;
	border-color: #000000;
	border-style: solid;
	border-width: 2px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

td {
	border-style: double;
	border-width: 1px;
	text-align: center;
}

input[readonly] {
	text-align: right;
}

input[type="button"] {
	padding: 0.2em;
}

.mainbutton {
	width: 36px;
}

/* Select only the "op" buttons, on the right column. */
input:not(.mainbutton):not([type="text"]) {
	width: 25px;
}

/***** Todo List ****/

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add "checked" clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style header */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style input */
input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    color: blue;
}

/* Style "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}
